html {
    margin: 0;
    font-family: 'Roboto Light', sans-serif;
}
body {
    margin: 0;
    background: var(--primarydark);
}
h1 {
    text-align: center;
    color: var(--primarylight);
}
p {
    line-height: 25px;
    font-size: 20px;
}
.content {
    padding-top: 3rem;
    padding-bottom: 6rem;
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.sectieTitel {
    color: var(--primarylight);
}
.summary {
    text-align: left;
    color: var(--primarylight);
    max-width: 50rem;
    margin: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-bottom: 6rem;
}
.redirects {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}
.redirect {
    margin: 2rem;
    display: flex;
    flex-flow: column;
    justify-items: center;
    justify-content: center;
}
.redirect h3 {
    text-align: center;
    color: var(--primarylight);
}
.redirect h3:hover {
    cursor: pointer;
    color: var(--secondarylight);
}
.redirect img {
    margin-left: auto;
    margin-right: auto;
    height: 30vh;
    width: 30vh;
    object-fit: cover;
}
.redirect img:hover {
    cursor: pointer;
    opacity: 50%;
}

:root {
    --primarylight:#E9D5DA;
    --primarydark:#363062;
    --secondarylight:#827397;
    --secondarydark:#4D4C7D;
}

@media only screen and (max-width: 600px) {
    .summary {
        max-width: 100%;
    }
}