.gamescreenshots {
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.gamescreenshots h1 {
    color: var(--primarylight);
}
.gamescreenshotsholder {
    width: 95vw;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-flow: wrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.gamescreenshotsholder img {
    margin: 1rem;
    max-width: 60vh;
    max-height: 40vh;
    object-fit: cover;
}
.gameplayvideo {
    min-width: 80%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.gameplayvideo h1 {
    text-align: center;
    color: var(--primarylight);
}
.gameplayvideo iframe {
    margin: 0 auto;
}